<div [@routerTransition]>
  <app-page-header [heading]="'Students'" [icon]="'fa-edit'"></app-page-header>

  <div class="row">
    <div class="col-md-12">

      <form role="form">
        <fieldset class="form-group">
          <label>School Name : {{schoolName}}</label>
          <!-- <input class="form-control" value={{schoolName}}> -->
          <!-- <p class="help-block">Please Check Above School Name</p> -->
          <button type="submit" class="btn btn-primary row add-student" (click)='addStudent()'>+ Add Student</button>
        </fieldset>

        <div class='col-md-12'>
          <div class='row' *ngFor="let student of students;let i = index">
            <fieldset class="form-group col-md-3">
              <label>Name</label>
              <input class="form-control" [(ngModel)]="students[i].name"[ngModelOptions]="{standalone: true}">
            </fieldset>

            <fieldset class="form-group col-md-3">
              <label>Age</label>
              <input class="form-control" [(ngModel)]="students[i].age" [ngModelOptions]="{standalone: true}">
            </fieldset>

            <fieldset class="form-group col-md-3">
              <label>Address</label>
              <input class="form-control" [(ngModel)]="students[i].location" [ngModelOptions]="{standalone: true}">
            </fieldset>

            <div class="form-group col-md-3">
              <label>Standard</label>
              <select class="form-control" [(ngModel)]="students[i].std" [ngModelOptions]="{standalone: true}">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary submit-btn" (click)='postStudentData()'>Submit </button>
