<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <div class="list-group">
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;
      <span>Dashboard</span>
    </a>
    <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
      <span>Charts</span>
    </a>

    <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-edit"></i>&nbsp;
      <span>Students</span>
    </a>

    <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-info"></i>&nbsp;
      <span>About Us</span>
    </a>




  </div>
  <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
    <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
    <span></span>
  </div>
</nav>
