<div class="card">
    <div class="card-header">
         <strong>About Us</strong>
    </div>
    <div class="card-body">
      This is a web app for school student management.In this app the school personnel
      can register and login, this person from school may be principal or any any
      authorised person.After login with their credentials,the logged in user will
      redirect to dashboard. On dashboard the person can see the count of total number of schools
      registered on platform and count of total number of students on cards.
      Similarly the user can see the number of schools on barchart.
      The person for who logged in from any school can only see data of students of his/her
      school by clicking barchard of respective school. Add,modify and deletion of students of perticular school is done by admin who is logged in

    </div>
</div>


