<div [@routerTransition]>
  <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>

  <div class="row">
    <div class="col-xl-4 col-lg-6">
      <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'"></app-stat>
    </div>
    <div class="col-xl-4 col-lg-6">
      <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'"></app-stat>
    </div>
    <div class="col-xl-4 col-lg-6">
      <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
    </div>
  </div>
</div>
